body {
    margin: 0;
    background-color: #dde4e4;
}
a {
   text-decoration: none;
   font-family: 'Shantell Sans', cursive;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(80% - 10px); /* 33.33% для равномерного распределения, вычитаем margin */
    height: 120px; 
    margin: 5px;
    flex-grow: 1; /* Равномерное распределение доступного пространства */
    background-color: #A3A3F5;
    color: black;
}
.box:hover{
    background-color: aqua;
    transition: 1s;
    border-radius: 20px;
    font-size: 17px;
}
@media (max-width: 1400px) {
    .box {
        width: calc(33.33% - 10px); /* 100% на более узких экранах */
    }
}

@media (max-width: 1200px) {
    .box {
        max-width: 970px; 
        width: calc(50% - 10px); /* 100% на более узких экранах */}
}
@media (max-width: 992px) {
    .box {
        max-width: 750px;
        width: calc(100% - 10px);

    }
} 
@media (max-width: 767px) {
    .box {
        max-width: none; }
} 
